@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,400");

* {
  box-sizing: border-box;
}
/*...................................................................Navigation page.................................................................*/

html,
body {
    height:800px; 
    width:1518px;
    background-color: #161619;
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    font-family: 'Marvel', sans-serif;
  font-weight: 700;
}

.nav {
    padding: 0;
    background-color: #201f23;
    position: relative;
    z-index: 15;
    overflow: hidden;
    width: 100%;
    height: 75px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color:#EC1D24;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 69px;
    padding: 0;
    padding-right: 5rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 67px;
    font-size: 2.5rem;
}

.nav div.main_list ul li a:hover {
    color: #EC1D24;
}


/* Home section */
.home {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}
@media screen and (min-width: 100%) and (max-width: 100%) {
    body{
        height: 100%;
        width: 100%;
    }
}

/* Media qurey section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #201f23;
}
.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}





/*...................................................................Phases page.................................................................*/

body,html {
  height:800px; 
    width:1518px;
    min-height:800px; 
    min-width:1518px;
    max-height:800px; 
    max-width:1518px;
    align-items: center;
    display: table-cell;
   
    margin: auto;
  margin-top: 0;
  text-shadow: #000 0 0 10px;
  font-family: 'Marvel', sans-serif;
  font-weight: 700;
  
}
#div2{
 
  margin-top: 75px;
}
.container1 {
  position:relative;
  display: flex;
  vertical-align:middle;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #111;

  @media (max-width: 1024px) {
    flex-direction: row;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.item {
  position: relative;
  flex: calc(45vw / 6) 1 1;
  background-size: cover;
  overflow: hidden;
  filter: saturate(90%);
  transition: 1s;
}

.item:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(25deg, rgba(0,0,0,.9), rgba(0,0,0,0));
}

.item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  animation: borderPulse 5s infinite;

  @media (min-width: 1024px) {
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
  @media (max-width: 1024px) {
    border-right: 1px solid white;
    border-bottom: none;
  }
}

.item:hover {
  flex-basis: 40%;
  filter: saturate(100%);

  @media (min-width: 1024px) {
    flex-basis: 75%;
  }
  @media (max-width: 1024px) {
    flex-basis: 75%;
  }

  .quote {
    opacity: 1;
    transform: translateX(0);
  }
}




.quote {
  position: absolute;
  color: #fff;
  bottom: 35%;
  left: 5rem;
  width: calc(100% - 10rem);
  opacity: 0;
  transition: 1s;
  transform: translateX(50%);

  @media (min-width: 512px) {
    left: 15%;
    bottom: 35%;
    width: 20vw;
  }

  @media (min-width: 1024px) {
    left: 15%;
    bottom: 35%;
    width: 30vw;
  }
}
.quote:hover{
  color: #EC1D24;
}
  p {
    position: relative;
    display: flex;
    margin-bottom: 1.7rem;
    font-size: 3rem;
    flex-wrap: balance;
    font-style: italic;

    &:before, &:after {
      position: absolute;
      font-size: 5.5rem;
      opacity: .6;
    }

    &:before {
      content: "";
      top: 4rem;
      left: -2rem;
      transform: translate(-100%, -100%);
    }

   
  }

  
@keyframes borderPulse{
  0%, 100% { border-color: rgba(204, 204, 204, 1); }
  25%, 75% { border-color: rgba(204, 204, 255, 0.9); }
  50% { border-color: rgba(204, 204, 255, 0.5); }
}
#nameid{
  color: #fff;
  text-decoration: none;
}
#nameid:hover{
  color: #EC1D24;
}







@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
#p1{
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
}
footer{font-family: 'Poppins',sans-serif;
  width: 100%;
  position:relatives;
  bottom: 0;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{font-family: 'Poppins',sans-serif;
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{font-family: 'Poppins',sans-serif;
  color: #fff;
}
footer .content .box{font-family: 'Poppins',sans-serif;
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{font-family: 'Poppins',sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p{font-family: 'Poppins',sans-serif;
  text-align: justify;
}
footer .content .lower .topic{font-family: 'Poppins',sans-serif;
  margin: 24px 0 5px 0;
}
footer .content .lower i{font-family: 'Poppins',sans-serif;
  padding-right: 16px;
}
footer .content .middle{font-family: 'Poppins',sans-serif;
  padding-left: 80px;
}
footer .content .middle a{font-family: 'Poppins',sans-serif;
  line-height: 32px;
}
footer .content .right input[type="text"]{font-family: 'Poppins',sans-serif;
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{font-family: 'Poppins',sans-serif;
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{font-family: 'Poppins',sans-serif;
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{font-family: 'Poppins',sans-serif;
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{font-family: 'Poppins',sans-serif;
  border-color: #eb2f06;
}
footer .bottom{font-family: 'Poppins',sans-serif;
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{font-family: 'Poppins',sans-serif;
  color: #eb2f06;
}
footer a{font-family: 'Poppins',sans-serif;
  transition: all 0.3s ease;
}
footer a:hover{font-family: 'Poppins',sans-serif;
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}




