<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <title>Characters</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
    <link rel="icon" type="image/png" href="{%static 'images/marlogo.png'%}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
  
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/nav">MARVEL</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="/nav" >Home</a></li>
                <li><a href="/marvelmovies">Movies</a></li>
                <li><a href="/series">Web-Series</a></li>
                <li><a href="/phase">Phases</a></li>
                <li><a href="/demo">Characters</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>
  <div id="div1">  
<div class="grid">
  <figure>
    <img src="{%static 'images/msmarvelch.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/ms-marvel-kamala-khan/in-comics"><h3>Ms Marvel</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/starlordchar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/star-lord-peter-quill/on-screen"><h3>Starlord</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/spaidermanchar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/spider-man-peter-parker/on-screen"><h3>Spider-Man</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/blackpantherch.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/black-panther-t-challa/on-screen"><h3>Black Panther</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/venomchar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/venom-eddie-brock/in-comics"><h3>Venom</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/thanoschar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/thanos/on-screen"><h3>Thanos</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/ironmanchar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/iron-man-tony-stark/on-screen"><h3>Iron Man</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/thorchar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/thor-thor-odinson/on-screen"><h3>Thor</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/captainamericachar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/captain-america-steve-rogers/on-screen"><h3>Captain America</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/blackwidowchar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/black-widow-natasha-romanoff/on-screen"><h3>Black Widow</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/hawkyeChar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/hawkeye-clint-barton/on-screen"><h3>Hawkye</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/FalconChar.jpg'%}" alt="">
    <figcaption>
      <div><div><a href="https://www.marvel.com/characters/sam-wilson/on-screen"><h3>Falcon</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/BuckyChar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/winter-soldier-bucky-barnes/on-screen"><h3>Winter Soldier</h3></a></div></div>
    </figcaption>
  </figure>
  <figure>
    <img src="{%static 'images/DrstrangeChar.jpg'%}" alt="">
    <figcaption>
      <div><div><a target="_blank" href="https://www.marvel.com/characters/doctor-strange-stephen-strange/on-screen"><h3>Dr Strange</h3></a></div></div>
    </figcaption>
  </figure>
</div>
</div>


<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">About us</div>
        <p style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">MarvelInfo is a web-page where you can find all the information regarding Marvel Movies, Series and Characters</p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#" style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
        </div>
        <div class="email">
          <a href="#" style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;"><i class="fas fa-envelope"></i>marvelinfo379@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Categories</div>
      <div><a href="/nav" style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Home</a></div>
      <div><a href="/marvelmovies"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Movies</a></div>
      <div><a href="/series"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Web-Series</a></div>
      <div><a href="/phase"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Phases</a></div>
      <div><a href="/demo"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Characters</a></div>
    </div>
    <div class="right box">
      <div class="topic">
        <img style="height: 100px;width: 500px;margin-top: 20px;" src="{%static 'images/MarvelStudio.png'%}" alt="">
        <img style="height: 80px;width: 200px;margin-left: 160px;margin-top: 20px;" src="{%static 'images/MarvelLogo.png'%}" alt="">
        
      </div>
      <!--
      <form action="#">
        <input type="text" placeholder="Enter email address">
        <input type="submit" name="" value="Send">

      
       <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter icon"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>-->
    </div>
  </div>
  <div class="bottom">
    <p></p>
  </div>
</footer>

<script>
    // TO DO:
// Show images when they've been fully loaded to avoid layout reflow

/*var grid = document.querySelector('.grid'),
    imgs = document.images,
    len = imgs.length,
    counter = 0;

[].forEach.call( imgs, function( img ) {
    img.addEventListener( 'load', incrementCounter, false );
} );

function incrementCounter() {
    counter++;
    if ( counter === len ) {
      grid.classList.add('revealed');
    }
}*/

var images = document.querySelectorAll('img');

/*[].forEach.call( images, function( img ) {
  img.addEventListener("load", function() {
    this.parentNode.style.opacity = '1';
  });
});*/

for (let image of images) {
  image.addEventListener("load", function() {
    this.parentNode.style.opacity = '1';
  });
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>/*
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();
});*/


</script>

<script>
  let docTitle=document.title;
window.addEventListener('blur',()=>{
document.title='Bhai aaja Vapis';
});
window.addEventListener('focus',()=>{
document.title=docTitle;
});

</script>
</body>
</html>