<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="{%static 'images/marlogo.png'%}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel-Cinematic-Universe:Phase Five</title>
    <link rel="stylesheet" href="{%static 'css/phase5.css'%}">
    <style>
      .pic1{
          background-image:url("{%static 'images/Phase5intro.jpg'%}");

      }
  </style>
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="/nav">MARVEL</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/nav" >Home</a></li>
                    <li><a href="/marvelmovies">Movies</a></li>
                    <li><a href="/series">Web-Series</a></li>
                    <li><a href="/phase">Phases</a></li>
                    <li><a href="/demo">Characters</a></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <div class="pic1">
      <div  class="pic">
          <video id="vedio" autoplay muted loop height="500px" width="1900px" onload="onloadfunc()">
              <!--<source src="{%static 'video/intronav.mp4'%}" type="video/mp4">
              <source id="w1" src="{%static 'video/intronav.mp4'%}" type="video/mp4">-->
            </video>
      </div>

  </div>

    <h2 class="h21">Marvel-Cinematic-Universe: Phase Five</h2>    
      <div class="divrow"  style="height: 310px; margin-left: 30px;">
        <div class="po"><a href="/Antman_and_Wasp_Quantamania">
            <div class="card">
                <div class="wrapper">
                  <img src="{%static 'images/antq.jpg'%}" class= "cover-image" alt="">
                </div>
                <img src="{%static 'images/antqtitle.png'%}" alt="" class="title">
                <img src="{%static 'images/antqc.png'%}" alt="" id="antq">
              </div></a>
        </div>
        <div class="po"><a href="">
            <div class="card">
                <div class="wrapper">
                  <img src="{%static 'images/gogv3.jpg'%}" class= "cover-image" alt="">
                </div>
                <img src="{%static 'images/gogv3title.png'%}"  alt="" class="title">
                <img src="{%static 'images/gogv3c.png'%}" alt=""  id="gogv3">
              </div></a>
          </div>
        
      </div>
      
     <!-- <h2 class="h2">Marvel-Cinematic-Universe: Phase Five Recap</h2>
      <div class="divrow" style="height: 640px;">
        <div  class="pic" style="padding-left: 7%;padding-top: 40px;">
          <video id="vedio"  controls height="570px" width="1300px" style="display: flex; justify-content: center;align-items: center;">
              <source src="{%static 'video/phase1.mp4'%}" type="video/mp4">
            </video>
      </div>
      </div>-->
      <!--Overview-->
      <h2 class="h2">Marvel-Cinematic-Universe:Phase Five Overview</h2>
      <div class="divrow" style="height: 530px;">
        <div class="po" style="margin-right: 40px; margin-left: 33px;padding: 20px 20px 20px 20px;">
          <p id="para">Phase Five of the Marvel Cinematic Universe (MCU) is a group of American superhero films and television series produced by Marvel Studios based on characters that appear in publications by Marvel Comics. <br> Phase Five features all of the Marvel Studios productions set to be released starting from 2023 to early 2025, with Walt Disney Studios Motion Pictures distributing the films, while the series release on Disney+. Animation in the phase was produced by Marvel Studios Animation. The first film in the phase is Ant-Man and the Wasp: Quantumania, which was released in February 2023, while the first series in the phase, Secret Invasion, premiered in June 2023. <br> Kevin Feige produces every film and serves as executive producer of every series in this phase, alongside producers Stephen Broussard for Quantumania, Ryan Reynolds and Shawn Levy for Deadpool 3, Nate Moore for Captain America: Brave New World, and Eric Carroll for Blade.

            <br>The films of the phase include Ant-Man and the Wasp: Quantumania starring Paul Rudd and Evangeline Lilly, the ensemble Guardians of the Galaxy Vol. 3, The Marvels starring Brie Larson, Teyonah Parris, and Iman Vellani, Deadpool 3 starring Ryan Reynolds, Captain America: Brave New World starring Anthony Mackie, the ensemble Thunderbolts, and Blade, starring Mahershala Ali. The first two films of the phase grossed over $1.21 billion at the global box office.
            
           <br> The Disney+ television series of the phase include Secret Invasion starring Samuel L. Jackson and Ben Mendelsohn, the second season of Loki starring Tom Hiddleston, Echo starring Alaqua Cox, the second season of the animated What If...? narrated by Jeffrey Wright, Ironheart starring Dominique Thorne, Agatha: Coven of Chaos starring Kathryn Hahn, and Daredevil: Born Again starring Charlie Cox. Phase Five, along with Phase Four and Phase Six, constitute The Multiverse Saga.</p>
        </div>
      </div>

      <h2 class="h2">Characters</h2>
      <div class="divrow" style="height: 1030px;">
        <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/star-lord-peter-quill/on-screen">
          <div class="card1" id="card1" >
              <div class="wrapper1" id="wrapper1">
                <img src="{%static 'images/Guardians_of_Galaxy2_StarLord.jpg'%}" class= "cover-image" alt="">
              </div>
              <div class="wrapper2" id="wrapper2"><h2 class="heading2">Star Lord</h2></div>
          </div></a> 
        </div>
        <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/gamora/on-screen">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Guardians_of_Galaxy2_SGamora.jpg'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">Gamora</h2></div>
            </div></a> 
        </div>
        <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/drax/on-screen">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Guardians_of_Galaxy2_Drax.png'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">Drax</h2></div>
            </div></a> 
        </div>
        <div class="po1"><a href="https://www.marvel.com/characters/groot/on-screen">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Guardians_of_Galaxy2_Groot.jpg'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">Groot</h2></div>
            </div></a> 
        </div>
        <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/rocket/on-screen">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Guardians_of_Galaxy2_Rocket.jpeg'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">Rocket Racoon</h2></div>
            </div></a> 
        </div>
        <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/mantis/on-screen">
          <div class="card1" id="card1" >
              <div class="wrapper1" id="wrapper1">
                <img src="{%static 'images/Guardians_of_Galaxy2_Mantis.jpg'%}" class= "cover-image" alt="">
              </div>
              <div class="wrapper2" id="wrapper2"><h2 class="heading2">Mantis</h2></div>
          </div></a> 
      </div>
          <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/ant-man-scott-lang/on-screen">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Ant_Man_and_Wasp_antman_character.jpg'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">Ant-Man</h2></div>
            </div></a> 
          </div>
          <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/kang/in-comics">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Ant_Man_and_Wasp_Kang_character.jpg'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">kang the Conqueror</h2></div>
            </div></a> 
          </div>
          <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/hope-van-dyne/on-screen">
              <div class="card1" id="card1" >
                  <div class="wrapper1" id="wrapper1">
                    <img src="{%static 'images/Ant_Man_and_Wasp_wasp_character.jpg'%}" class= "cover-image" alt="">
                  </div>
                  <div class="wrapper2" id="wrapper2"><h2 class="heading2">Wasp</h2></div>
              </div></a> 
          </div>
          <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/hank-pym/in-comics">
              <div class="card1" id="card1" >
                  <div class="wrapper1" id="wrapper1">
                    <img src="{%static 'images/Ant_Man_and_Wasp_hangpym_character.jpg'%}" class= "cover-image" alt="">
                  </div>
                  <div class="wrapper2" id="wrapper2"><h2 class="heading2">Hang Pym</h2></div>
              </div></a> 
          </div>
          <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/wasp-janet-van-dyne">
              <div class="card1" id="card1" >
                  <div class="wrapper1" id="wrapper1">
                    <img src="{%static 'images/Ant_Man_and_Wasp_janet_character.jpg'%}" class= "cover-image" alt="">
                  </div>
                  <div class="wrapper2" id="wrapper2"><h2 class="heading2">Janet Van Dyne</h2></div>
              </div></a> 
          </div> 
          <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/yondu/on-screen">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Guardians_of_Galaxy2_Yondu.jpg'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">Youndu</h2></div>
            </div></a> 
        </div>
        <div class="po1"><a target="_blank" href="https://www.marvel.com/characters/nebula/on-screen">
            <div class="card1" id="card1" >
                <div class="wrapper1" id="wrapper1">
                  <img src="{%static 'images/Guardians_of_Galaxy2_Nebula.jpg'%}" class= "cover-image" alt="">
                </div>
                <div class="wrapper2" id="wrapper2"><h2 class="heading2">Nebula</h2></div>
            </div></a> 
        </div>
        
      </div>


      <footer>
        <div class="content">
          <div class="left box">
            <div class="upper">
              <div class="topic">About us</div>
              <p style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">MarvelInfo is a web-page where you can find all the information regarding Marvel Movies, Series and Characters</p>
            </div>
            <div class="lower">
              <div class="topic">Contact us</div>
              <div class="phone">
                <a href="#" style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
              </div>
              <div class="email">
                <a href="#" style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;"><i class="fas fa-envelope"></i>marvelinfo379@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="middle box">
            <div class="topic">Categories</div>
            <div><a href="/nav" style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Home</a></div>
            <div><a href="/marvelmovies"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Movies</a></div>
            <div><a href="/series"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Web-Series</a></div>
            <div><a href="/phase"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Phases</a></div>
            <div><a href="/demo"style="font-size: 15px;font-weight: 500px; font-family: 'Marvel', sans-serif; word-spacing: normal;">Characters</a></div>
          </div>
          <div class="right box">
            <div class="topic">
              <img style="height: 100px;width: 500px;margin-top: 20px;" src="{%static 'images/MarvelStudio.png'%}" alt="">
              <img style="height: 80px;width: 200px;margin-left: 160px;margin-top: 20px;" src="{%static 'images/MarvelLogo.png'%}" alt="">
              
            </div>
            <!--
            <form action="#">
              <input type="text" placeholder="Enter email address">
              <input type="submit" name="" value="Send">
  
            
             <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter icon"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </form>-->
          </div>
        </div>
        <div class="bottom">
          <p></p>
        </div>
      </footer>
  

<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
       /* $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();
});
*/
let docTitle=document.title;
window.addEventListener('blur',()=>{
  document.title='Bhai aaja Vapis';
});
window.addEventListener('focus',()=>{
  document.title=docTitle;
});

</script>

<script>
  /*function My_Video() {
            document.getElementById("w1").src =
               "{%static 'video/intronav2.mp4'%}";
            document.getElementById("vedio").load();
        }
        window.onload=My_Video()*/
        
</script>
</body>
</html>
